.logo img {
    width: 100px;
}
  
.logo {
    grid-area: icon;
}
  
.right-menu {
    display: grid;
    grid-area: nav;
    place-items: center;
    justify-self: end;
}

.right-menu li a {
  color: #2fd895;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 5px;
    color: #7bdcb5;
}
  
li {
    padding: 5px;
}

body {

    display: grid;
    grid-template-areas: 
      "icon nav"
      "welcome welcome"
      "aboutUsImage aboutUs"
      "aboutUsOffers aboutUsOffers"
      "footer footer";
  
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr 1fr;
  
    font-family: "Libre Baskerville", serif;
  
}
  
  
@media screen and (max-width: 430px) {
  body {
    grid-template-columns: auto;
    grid-template-rows: minmax(40px, auto) minmax(30px, auto) auto auto;
    grid-template-areas:
    "icon"
    "nav"
    "welcome"
    "aboutUsImage"
    "aboutUs"
    "aboutUsOffers"
    "footer"
  }
  header, nav {
    text-align: center;
    justify-self: center;
  }
  nav a {
    margin: 0 10px;
  }
}