.logo img {
    width: 100px;
}
  
.logo {
    grid-area: icon;
}
  
.right-menu {
    display: grid;
    grid-area: nav;
    place-items: center;
    justify-self: end;
}

.right-menu li a {
  color: #2fd895;
}