.logo img {
  width: 100px;
}

.logo {
  grid-area: icon;
}

.right-menu {
  display: grid;
  grid-area: nav;
  place-items: center;
  justify-self: end;
  white-space: nowrap;
}

.right-menu li a {
  color: #2fd895;
}

.contactHeader {
  grid-area: contactUs;
  font-size: xxx-large;
  background-color: #fbf7f7;
  padding: 1cm;
}

.dontHesitateContactText {
  grid-area: dontHestitate;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1cm;
  margin-top: 0cm;
}

.adressAndEmail {
  grid-area: adress;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.adressAndEmail a {
  color: #2fd895;
}

.availableSchedule {
  display: grid;
  grid-area: openHours;
  grid-template-columns: 1fr 2fr;
}

.inputFields {
  grid-area: form;
  padding-right: 1cm;
  padding-bottom: 1cm;
}

.inputFields .nameAndNumber {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 10px;
}

.inputFields label {
  display: block;
}
.inputFields input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #7bdcb5;
}

.inputFields input:focus {
  outline: none;
  border-color: #2fd895;
}

.inputFields textarea {
  width: 100%;
  border: 2px solid #7bdcb5;
  border-radius: 5px;
}

.inputFields textarea:focus {
  outline: none;
  border-color: #2fd895;
}

.inputFields #submitButton {
  width: auto;
}

.inputFields button {
  border: 2px solid #7bdcb5;
  background: #7bdcb5;
  border-radius: 5px;
}

.inputFields button:hover {
  border-color: #2fd895;
  background: #2fd895;
  cursor: pointer;
}

.messageDiv {
  padding-top: 10px;
}

.messageDiv textarea {
  height: 30vh;
  resize: none;
}

.footer {
  display: grid;
  grid-area: footer;
  grid-template-columns: 2fr 1fr;
  padding: 24px;
  background-color: #fbf7f7;
  margin-top: auto;
}

.footerLinks {
  display: grid;
  align-self: center;
  justify-self: end;
}

.socialMediaLinks {
  margin-right: 50px;
}

.socialMediaLinks a:visited {
  text-decoration: none;
  color: blue;
}

.footer .footerContactLink {
  color: #2fd895;
}

.footer a {
  padding: 13px;
}

.footer img {
  max-width: 10cm;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 5px;
  color: #7bdcb5;
}

li {
  padding: 5px;
}

body {
  display: grid;
  grid-template-areas:
    "icon . nav nav"
    "contactUs contactUs contactUs contactUs"
    ". dontHestitate adress ."
    ". form openHours ."
    "footer footer footer footer";

  grid-template-columns: 1fr 2fr 1fr 1fr;

  grid-template-rows: auto auto 1fr 2fr auto;

  min-height: 100vh;

  font-family: "Libre Baskerville", serif;
}

@media screen and (max-width: 430px) {
  body {
    grid-template-columns: calc(100%-2em);
    grid-template-rows: minmax(40px, auto) minmax(30px, auto) auto auto;
    grid-template-areas:
      "icon"
      "nav"
      "contactUs"
      "dontHestitate"
      "adress"
      "openHours"
      "form"
      "footer";
    margin: 0;
  }

  .logo {
    justify-self: center;
    margin-top: 10px;
  }

  .right-menu {
    justify-self: center;
  }

  .contactHeader {
    text-align: center;
  }

  .dontHesitateContactText {
    text-align: center;
    padding-right: 0;
  }

  .adressAndEmail {
    text-align: center;
  }

  .availableSchedule {
    grid-template-columns: 1fr 1fr;
    padding: 20px;
  }

  .inputFields {
    padding: 20px;
  }
}
