.logo img {
  width: 100px;
}

.logo {
  grid-area: icon;
}

.right-menu {
  display: grid;
  grid-area: nav;
  place-items: center;
  justify-self: end;
  white-space: nowrap;
}

.right-menu li a {
  color: #2fd895;
}

.generationsHeader {
  display: grid;
  grid-area: generationsHeader;
  place-items: center;
  text-align: center;
  background-color: #fbf7f7;
  padding: 1cm;
}

.articleWrapper {
  display: grid;
  grid-area: article;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.mattorDiv {
  display: grid;
  place-items: center;
  align-self: start;
  text-align: center;
  padding: 0.5cm;
}

.mattorDiv img {
  width: 75%;
}

.plastMattaDiv {
  display: grid;
  place-items: center;
  align-self: start;
  text-align: center;
  padding: 0.5cm;
}

.plastMattaDiv img {
  width: 75%;
}

.laminatDiv {
  display: grid;
  place-items: center;
  align-self: start;
  text-align: center;
  padding: 0.5cm;
}

.laminatDiv img {
  width: 75%;
}

.kakelDiv {
  display: grid;
  place-items: center;
  align-self: start;
  text-align: center;
  padding: 0.5cm;
}

.kakelDiv img {
  width: 75%;
}

.reviewDivider {
  display: grid;
  grid-area: reviewDivider;
  align-self: center;
  text-align: center;
  margin-top: 10px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.contactUsImage {
  display: grid;
  grid-area: bookOrContact;
  position: relative;
  text-align: center;
  color: black;
  margin-bottom: 1cm;
  overflow: hidden;
  border-radius: 10px;
}

.contactUsImage a {
  text-decoration: none;
  color: #2fd895;
}

.contactUsImage img {
  width: 100%;
  height: 100%;
}

.contactUsImage .backgroundDivider {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 50%
  );
  color: white;
}

.contactUsImage figcaption {
  position: absolute;
  top: 10%;
  bottom: 90%;
  right: 40%;
  color: white;
}

.contactUsImage h3 {
  font-size: 2vw;
}

.footer {
  display: grid;
  grid-area: footer;
  grid-template-columns: 2fr 1fr;
  padding: 24px;
  background-color: #fbf7f7;
}

.footerLinks {
  display: grid;
  align-self: center;
  justify-self: end;
}

.socialMediaLinks {
  margin-right: 50px;
}

.socialMediaLinks a:visited {
  text-decoration: none;
  color: blue;
}

.footer .footerContactLink {
  color: #2fd895;
}

.footer a {
  padding: 13px;
}

.footer img {
  max-width: 10cm;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 5px;
  color: #7bdcb5;
}

li {
  padding: 5px;
}

body {
  display: grid;
  grid-template-areas:
    "icon nav"
    "generationsHeader generationsHeader"
    "article article"
    "reviewDivider reviewDivider"
    "bookOrContact bookOrContact"
    "footer footer";

  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;

  font-family: "Libre Baskerville", serif;
}

@media screen and (max-width: 430px) {
  body {
    grid-template-columns: auto;
    grid-template-rows: minmax(40px, auto) minmax(30px, auto) auto auto;
    grid-template-areas:
      "icon"
      "nav"
      "generationsHeader"
      "article"
      "reviewDivider"
      "bookOrContact"
      "footer";

    margin: 0;
  }
  .logo {
    justify-self: center;
    margin-top: 10px;
  }

  .right-menu {
    justify-self: center;
  }

  .generationsHeader {
    justify-self: center;
  }

  .articleWrapper {
    grid-template-columns: 1fr;
  }

  .contactUsImage h3 {
    font-size: medium;
  }

  .contactUsImage figcaption {
    position: absolute;
    top: 2%;
    right: 40%;
  }
}
