.logo img {
  width: 100px;
}

.logo {
  grid-area: icon;
}

.right-menu {
  display: grid;
  grid-area: nav;
  place-items: center;
  justify-self: end;
  white-space: nowrap;
}

.right-menu li a {
  color: #2fd895;
}

.container {
  grid-area: gallery;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 8%;
}

.previousWorkHeader {
  grid-area: previousWorkHeader;
  font-size: x-large;
  font-weight: lighter;
  color: #384143;
  padding: 1cm;
  text-align: center;
  background-color: #fbf7f7;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.gallery img {
  width: 100%;
}

.instagramDivider {
  display: grid;
  grid-area: instagramDivider;
  align-self: center;
  text-align: center;
  color: #384143;
  margin-bottom: 2cm;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.instagramDivider img {
  margin-top: 10px;
  width: 2cm;
}

.footer {
  display: grid;
  grid-area: footer;
  grid-template-columns: 2fr 1fr;
  padding: 24px;
  background-color: #fbf7f7;
}

.footerLinks {
  display: grid;
  align-self: center;
  justify-self: end;
}

.socialMediaLinks {
  margin-right: 50px;
}

.socialMediaLinks a:visited {
  text-decoration: none;
  color: blue;
}

.footer .footerContactLink {
  color: #2fd895;
}

.footer a {
  padding: 13px;
}

.footer img {
  max-width: 10cm;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 5px;
  color: #7bdcb5;
}

li {
  padding: 5px;
}

body {
  display: grid;
  grid-template-areas:
    "icon nav"
    "previousWorkHeader previousWorkHeader"
    "gallery gallery"
    "instagramDivider instagramDivider"
    "footer footer";

  grid-template-columns: 1fr 1fr;

  font-family: "Libre Baskerville", serif;
}

@media screen and (max-width: 430px) {
  body {
    grid-template-columns: calc(100%-2em);
    grid-template-rows: minmax(40px, auto) minmax(30px, auto) auto auto;
    grid-template-areas:
      "icon"
      "nav"
      "previousWorkHeader"
      "gallery"
      "instagramDivider"
      "footer";
    padding: 1em;
  }

  .logo {
    justify-self: center;
  }

  .right-menu {
    justify-self: center;
  }
}
